{% macro nav_loop(page) %}
  {% import _self as macros %}
  {% for p in page.children.visible %}
    {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
    <li>
      <a href="{{ p.url }}" class="{{ active_page }}">
        {{ p.menu }}
      </a>
      {% if p.children.visible.count > 0 %}
      <ul>
        {{ macros.nav_loop(p) }}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}


{% macro validate_hsize(size, default) %}
    {% set result = default %}
    {% if size is defined and size is not empty %}
        {% set numeric_size = size + 1 %}
        {% if numeric_size > 0 and numeric_size < 7 %}
            {% set result = numeric_size %}
        {% endif %}
    {% endif %}
    {{ result }}
{% endmacro %}

{% macro render_headings(page, subtitle, title = null, thsize = null, shsize = null, additionalclasses = '') %}
    {% import _self as utils %}


    {% if shsize is null %}
        {% set shsize = page.header.section.settings.subtitle.hsize %}
    {% endif %}
    {% if thsize is null %}
        {% set thsize = page.header.section.settings.title.hsize %}
    {% endif %}
    
    


    {% set subhsize = utils.validate_hsize(shsize, 6)|trim %}
    {% set hsize = utils.validate_hsize(thsize, 3)|trim %}
    
    {% if title is null %}
        {% set title = page.header.title %}
    {% endif %}
    
    {% if page.header.section.settings.title.order == 1 %}
        {% if subtitle %}
            <h{{subhsize}} class="subh {{additionalclasses}}">{{subtitle}}</h{{subhsize}}>       
        {% endif %}
        {% if title %}
            <h{{hsize}} class="{{additionalclasses}}">{{title}}</h{{hsize}}>
        {% endif %}
    {% else %}
        {% if title %}
            <h{{hsize}} class="{{additionalclasses}}">{{title}}</h{{hsize}}>
        {% endif %}
        {% if subtitle %}
            <h{{subhsize}} class="subh {{additionalclasses}}">{{subtitle}}</h{{subhsize}}>
        {% endif %}      
    {% endif %}
{% endmacro %}