{% extends 'partials/base.html.twig' %}
{% set data_source = data_source|default(page) %}

{% block banner %}

	{% include 'partials/banner.html.twig' %}

{% endblock banner %}

{% block body %}

    <div class="wrapper style2 evenpart">
        <section class="container">
            <header class="major">
                <h2>Nos coordonnées</h2>
                <span class="byline">{{ portals.legacy_description }}</span>
            </header>
            <div id="coordinates">
                {% if data_source.header.coordinates %}
                    {% set coordinates = data_source.header.coordinates %}
                    <div class="contact-col" id="communication-methods">
                        {% if coordinates.email %}
                            <div class="contact-sect">
                                <div>
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div>
                                    <div class="contact-type">Courriel</div>
                                    <div class="contact-info">{{ coordinates.email }}</div>
                                </div>
                            </div>                    
                        {% endif %}
                        {% if coordinates.instagram %}
                            <div class="contact-sect">
                                <div>
                                    <i class="fa-brands fa-instagram"></i>
                                </div>
                                <div>
                                    <div class="contact-type">Instagram</div>
                                    <div class="contact-info">{{ coordinates.instagram }}</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="contact-col" id="location">
                        {% if coordinates.address %}
                            <div class="contact-sect">
                                <div>
                                    <i class="fa-solid fa-map-pin"></i>
                                </div>
                                <div>
                                    <div class="contact-type">Adresse</div>
                                    <div class="contact-info">{{ coordinates.address }}</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if coordinates.office %}
                            <div class="contact-sect">
                                <div>
                                    <i class="fa-solid fa-building"></i>
                                </div>
                                <div>
                                    <div class="contact-type">Bureau</div>
                                    <div class="contact-info">{{ coordinates.office }}</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if coordinates.workshop %}
                            <div class="contact-sect">
                                <div>
                                    <i class="fa-solid fa-shop"></i>
                                </div>
                                <div>
                                    <div class="contact-type">Atelier</div>
                                    <div class="contact-info">{{ coordinates.workshop }}</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {% if data_source.header.note %}
            <div>
                {{ data_source.header.note }}
            </div>
            {% endif %}
        </section>
    </div>

{% endblock body %}