{% extends 'partials/base.html.twig' %}
{% set data_source = data_source|default(page) %}
{% set columns = 3 %}
{% set column_units = column_units ?: (12 // columns) %}

{% block banner %}
	{% include 'partials/banner.html.twig' %}
{% endblock banner %}

{% block body %}

	{% if page.header.intro %}
    {% set intro = page.header.intro %}
    <div class="wrapper style2 evenpart">
        <section class="container">
            <h2>{{ intro.title }}</h2>
            <div>{{ intro.text }}</div>
        </section>
    </div>
    {% endif %}

    {% if page.header.mission %}
    {% set notices = page.header.mission %}
    <div class="wrapper style4 plain">
        <section class="container">
            <header class="major">
                <h2>{{ notices.heading }}</h2>
                <span class="byline">{{ notices.byline }}</span>
            </header>
            <div class="row flush">
                <div class="mission-box-container">
                    {% for item in notices.items %}
                    <div class="mission-box">
                        <div class="flex">
                            <span class="mission-icon fa-solid fa-{{ item.icon }}"></span>
                            <h3>{{ item.heading }}</h3>
                        </div>
                        <p>{{ item.point }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    {% endif %}

    {% if data_source.header.activities %}
    {% set act = data_source.header.activities %}
    <div class="wrapper green-sect">
        <div class="green-sect-container">
            <div>
                <h1>{{ act.title }}</h1>
                <h2>{{ act.subtitle }}</h2>
                <div>{{ act.description }}</div>
            </div>
        </div>
        <div class="green-sect-container collage">
            <div class="photo-sect">
                {% for pic in act.pictures %}
                <img id="picture-{{ loop.index0 % 4 + 1 }}" src="{{ data_source.media[pic].url }}">
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

	{% if page.header.join %}
    {% set intro = page.header.join %}
    <div class="wrapper style2 evenpart">
        <section class="container">
            <h1>{{ intro.title }}</h1>
            <div>{{ intro.text }}</div>
            <div>
                <a class="btn" href="{{ intro.link }}">Rejoindre</a>
            </div>
        </section>
    </div>
    {% endif %}

{% endblock body %}
