{% set data_source = data_source|default(page) %}
{% set banner_pic = data_source.media[data_source.header.banner_pic].url %}
{% extends 'partials/base.html.twig' %}
{% block pagestyles %}
    {% do assets.addCss('theme://css/membership.css') %}
{% endblock %}
{% block banner %}

	{% include 'partials/banner.html.twig' %}

{% endblock banner %}

{% block body %}
    {% set intro = page.header.introduction %}
    <div class="wrapper style2 evenpart">
        <section class="container">
            <h1>{{ intro.title }}</h1>
            <div class="description">
                {% for d in intro.description %}
                <div>{{ d|raw }}</div>
                {% endfor %}
        </section>
    </div>
    
    {% set advantages = data_source.header.advantages %}
    <div class="wrapper style4 plain">
        <section class="container">
            <header class="major">
                <h2>{{advantages.title}}</h2>
            </header>
            <div class="membership-reasons">
                {% for item in advantages.items %}
                <div class="membership-buy-reason-sect">
                    <div class="membership-perk-icon">{{item.icon}}</div>
                    <div>
                        <b>{{item.title}}</b>
                        <p>{{item.description}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <p>{{advantages.note}}</p>
        </section>
    </div>

    {% set procedure = data_source.header.procedure %}
    <div class="wrapper style2 evenpart">
        <section id="team" class="container">
            <h2>{{procedure.title}}</h2>
            <div class="row">
                {% for step in procedure.steps %}
                <div class="step">
                    <b>{{ loop.index }}. {{ step.title }}</b>
                    <p>{{step.description|raw}}</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
    
{% endblock body %}