{% set data_source = data_source|default(page) %}
{% set banner_pic = data_source.media[data_source.header.banner_pic].url %}
{% set intro = data_source.header.intro %}
{% set projects = data_source.header.projects %}
{% extends 'partials/base.html.twig' %}
{% block pagestyles %}
    {% do assets.addCss('theme://css/faq.css') %}
{% endblock %}

{% block banner %}

	{% include 'partials/banner.html.twig' %}

{% endblock banner %}

{% block body %}

    <div class="wrapper style2 evenpart">
        <section class="container">
            <h1>{{ intro.title }}</h1>
            <div class="description">
                {% for desc in intro.description %}
                    <p>{{ desc|raw }}</p>
                {% endfor %}
            </div>
        </section>
    </div>

    <div class="wrapper primary-2 plain">
        <section class="container">
            <h1>{{ projects.in_progress.title }}</h1>
            <div class="faq">
                {% for proj in projects.in_progress.items %}
                <div class="project-in-progress-sect">
                    <img>
                    <div>
                        <h2>{{ proj.title }}</h2>
                        <div>{{ proj.description|raw }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

    <div class="wrapper primary-2">
        <section class="container">
            <h1>{{ projects.done.title }}</h1>
            <div class="faq">
                {% for proj in projects.done.items %}
                <div class="project-in-progress-sect">
                    <img>
                    <div>
                        <h2>{{ proj.title }}</h2>
                        <div>{{ proj.description|raw }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock body %}