{% extends 'partials/base.html.twig' %}
{% set data_source = data_source|default(page) %}

{% block banner %}

	{% include 'partials/banner.html.twig' %}

{% endblock banner %}

{% block body %}

    {% if data_source.header.portals %}
    <!-- Team aka 'portals' (CSS and frontmatter) -->
        {% set portals = data_source.header.portals %}
        <div class="wrapper primary-2">
            <section id="current-team" class="container team-sect">
                <header class="major">
                    <h2>Équipe</h2>
                    <span class="byline">{{ portals.team_description }}</span>
                </header>
                <div class="team-container">
                    {% for portal in portals.current %}
                    <div class="3u member-profile">
                        <img src="{{ data_source.media[portal.thumbnail].resize(162,162).url }}">
                        <h2>{{ portal.name }}</h2>
                        <p>{{ portal.role|raw }}</p>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        <div class="wrapper secondary">
            <section id="old-team" class="container team-sect">
                <header class="major">
                    <h2>Ancienn(ne)s membres</h2>
                    <span class="byline">{{ portals.legacy_description }}</span>
                </header>
                <div class="team-container">
                    {% for portal in portals.former %}
                    <div class="3u member-profile">
                        <img src="{{ data_source.media[portal.thumbnail].resize(162,162).url }}">
                        <h2>{{ portal.name }}</h2>
                        <p>{{ portal.role|raw }}</p>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    {% endif %}

{% endblock body %}