{% extends 'partials/base.html.twig' %}
{% set data_source = data_source|default(page) %}

{% block banner %}

	{% include 'partials/banner.html.twig' %}

{% endblock banner %}

{% block body %}

    {% if data_source.header.portals %}
        {% set portals = data_source.header.portals %}
        <div class="wrapper primary-2">
            <section id="current-team" class="container team-sect">
                <header class="major">
                    <h2>Équipe</h2>
                    <span>{{ portals.team_description }}</span>
                </header>
                <div class="team-container">
                    {% for portal in portals.current %}
                    <div class="member-profile">
                        <div class="member-img-container">
                            <img src="{{ data_source.media[portal.thumbnail].url }}">
                        </div>
                        <h2 class="member-name">{{ portal.name }}</h2>
                        <div class="role">{{ portal.role|raw }}</div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        <div class="wrapper secondary">
            <section id="old-team" class="container team-sect">
                <header class="major">
                    <h2>Ancienn(ne)s membres</h2>
                    <span>{{ portals.legacy_description }}</span>
                </header>
                <div class="team-container">
                    {% for portal in portals.former %}
                    <div class="member-profile">
                        <div class="member-img-container">
                            <img src="{{ data_source.media[portal.thumbnail].url }}">
                        </div>
                        <h2 class="member-name">{{ portal.name }}</h2>
                        <div class="role">{{ portal.role|raw }}</div>
                        {% if portal.duration %}
                        <div class="duration">{{ portal.duration }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    {% endif %}

{% endblock body %}