{% extends 'partials/base.html.twig' %}
{% set data_source = data_source|default(page) %}
{% set header = data_source.header %}
{% block pagestyles %}
    {% do assets.addCss('theme://css/workshop.css') %}
{% endblock %}
{% block banner %}
	{% include 'partials/banner.html.twig' %}
{% endblock banner %}

{% block body %}
    <div class="wrapper style2 evenpart">
        <section class="container">
            <h1>{{ header.page_header }}</h1>
            <div class="description">
                {% for desc in header.description %}
                    <p>{{ desc }}</p>
                {% endfor %}
            </div>
        </section>
    </div>

    <div class="wrapper style4 plain">
        <section class="container">
            <div class="tour-intro">
                <h1>{{ header.tour.title }}</h1>
                <div class="description">
                    {% for desc in header.tour.description %}
                    <p>{{ desc }}</p>
                    {% endfor %}
                </div>
            </div>
            {% for sect in header.tour.sections %}
            <div class="workshop-aspect-sect">
                {% if loop.index0 > 0 %}
                <hr>
                {% endif %}
                <h2>{{ sect.title }}</h2>
                <div class="description">
                    {% for desc in sect.description %}
                    <p>{{ desc }}</p>
                    {% endfor %}
                </div>

                {% if sect.pictures %}
                <div class="photo-sect">
                    {% if sect.pictures|length == 1 %}
                    <img class="picture-full" src={{ data_source.media[sect.pictures[0]].url }}>
                    {% else %}
                    {% for pic in sect.pictures %}
                    <img class="picture-{{ loop.index0 % 4 + 1 }}" src={{ data_source.media[pic].url }}>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </section>
	</div>

    <div class="wrapper style2 evenpart">
        <section class="container">
            <h2>{{ header.subscription.title }}</h2>
            <div class="description">
                {% for desc in header.subscription.description %}
                <p>{{ desc|raw }}</p>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock body %}
