{% if page.header.section.settings.module.enabled %}
</div></div>
{% set selfid = 'module-' ~ page.template|md5|slice(0, 8) ~ '-' ~ page.slug|md5|slice(0, 8)  %}
<div class="icon-list-area {{selfid}}">
    <div class="container"><div class="container-inner">
        {% if page.header.section.settings.title.show %}
        <div class="secondary-title">
                {% import 'macros/macros.html.twig' as utils %}
                {{ utils.render_headings(page, page.header.section.title.subHeading) }}
        </div>
        {% endif %}
        <div class="row">
            {% for card in page.header.section.content.cards %}
            {% set icon_name = (card.icon | first).name %}
            <div class="{% if page.header.section.settings.column == 1 %}col-lg-12
                        {% elseif page.header.section.settings.column == 2 %}col-lg-6
                        {% elseif page.header.section.settings.column == 3 %}col-lg-4
                        {% elseif page.header.section.settings.column == 4 %}col-lg-8
                        {% elseif page.header.section.settings.column == 5 %}col-lg-3
                        {% elseif page.header.section.settings.column == 6 %}col-lg-2
                        {% else %}col-lg-6{% endif %}  mb-30">
                <div class="cmn-content icon-list-content {{selfid}}">
                        {% set image = page.media[(card.icon|keys|first)] %}
                        
                        {% if image %}
                            {% if image.mime == 'application/pdf' %}
                            {% else %}
                             <div class="icn-icon">
                                 {% if page.media[icon_name] is defined %}
                                    {# New image location (@self) #}
                                    <img class="media" style="width:100%;" alt="{{ card.alt }}" src="{{ page.media[icon_name].url }}" />
                                 {% else %}
                                    {# Legacy image location (theme folder) #}
                                    <img class="media" style="width:100%;" alt="{{ card.alt }}" src="{{ url('theme://custom/images/' ~ icon_name) }}" />
                                 {% endif %}
                             </div>
                            {% endif %}
                        {% endif %}                        

                    <h4>{{card.heading}}</h4>
                    <p>{{card.text}}</p>
                        {% if image %}
                            {% if image.mime == 'application/pdf' %}
                            <div class="icn-icon">
                                <a href="{{ image.url }}" target="_blank" class="pdf-link">
                                    Download PDF<i class="far fa-angle-right"></i>
                                </a>                           
                             </div>
                            {% endif %}
                        {% endif %}       
                    <a href="{{card.link}}" class="box-btn" {% if card.open.type %}target="_blank"{% endif %}>
                        {{card.b_name}}<i class="far fa-angle-right"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div></div>
</div>
<div class="row container"><div class="row container-inner">
{% endif %}
<style>
{% if page.header.section.settings.bgcolor %}
.icon-list-area.{{selfid}} {
    background-color: {{page.header.section.settings.bgcolor}};
}
{% endif %}


.cmn-content.icon-list-content.{{selfid}} p{
{% if page.header.section.settings.txtcolor %}
    color: {{page.header.section.settings.txtcolor}};
{% endif %}
}
.cmn-content.icon-list-content.{{selfid}} p, .cmn-content.icon-list-content.{{selfid}} h1, .cmn-content.icon-list-content.{{selfid}} h2, .cmn-content.icon-list-content.{{selfid}} h3, 
.cmn-content.icon-list-content.{{selfid}} h4, .cmn-content.icon-list-content.{{selfid}} h5, .cmn-content.icon-list-content.{{selfid}} h6, .cmn-content.icon-list-content.{{selfid}}{

{% if page.header.section.settings.text.alignment == 0 %}
    text-align: left;
{% elseif page.header.section.settings.text.alignment == 1 %}
    text-align: center;
{% elseif page.header.section.settings.text.alignment == 2 %}
    text-align: right;
{% endif %} 
}

{% if page.header.section.settings.padding %}
.icon-list-area.{{selfid}} {
    padding: {{page.header.section.settings.padding}};
}
{% endif %}

</style>