{% if page.header.section.settings.module.enabled %}
{% set selfid = 'module-' ~ page.template|md5|slice(0, 8) ~ '-' ~ page.slug|md5|slice(0, 8)  %}
{% if page.header.section.wrap.container == 1 %}
</div></div>  {#  end row #}

<div class="row container img_module {{selfid}}"><div class="row container-inner">
{% endif %}  
<div class="{% if page.header.section.settings.module.width == 1 %}col-12 col-md-12
            {% elseif page.header.section.settings.module.width == 2 %}col-12 col-md-6
            {% elseif page.header.section.settings.module.width == 3 %}col-12 col-md-4
            {% elseif page.header.section.settings.module.width == 4 %}col-12 col-md-8
            {% elseif page.header.section.settings.module.width == 5 %}col-6 col-md-3
            {% elseif page.header.section.settings.module.width == 6 %}col-4 col-md-2
            {% else %}col-12 col-md-6{% endif %} 
             section_wrap {{page.header.section.settings.classes}}"
    style="{% if page.header.section.settings.bgcolor %} background-color: {{page.header.section.settings.bgcolor}};{% endif %}" >   
    <div class="container">
    {% if page.header.section.settings.title.show %}
    <div class="title_wrap cmn-content">
    
                {% import 'macros/macros.html.twig' as utils %}
                {{ utils.render_headings(page, page.header.section.subtitle) }}

    </div>
    {% endif %}

    {% if page.header.section.image %}
    <div class="img_wrap cmn-content">
    {# 
        {% set img = (page.header.section.image | first).name %}
        <img  src="{{ url('theme://custom/images/' ~ img)  }}" alt="{{page.header.section.alt_tag}}" class="img-fluid"> 
    #}

    {% if page.header.section.image | first is iterable %}
      {% set imgtemp = page.header.section.image | first %}
      {% set image = page.media[imgtemp.name] %}
    {% else %}
      {% set image = page.media | first %}
    {% endif %}
    
    {% set is_svg = image.url|lower ends with '.svg' %}
    
    {% if page.header.scale == 1 %}
        {% set resize = 3 / 4 %}
        {% set aspectratio = 4 / 3 %}
    {% elseif page.header.scale == 2 %}
        {% set resize = 9 / 16 %}
        {% set aspectratio = 16 / 9 %}
    {% elseif page.header.scale == 3 %}
        {% set resize = 1 / 2.35 %}
        {% set aspectratio = 2.35 / 1 %}
    {% elseif page.header.scale == 4 %}
        {% set resize = 1 %}
        {% set aspectratio = 1 %}
    {% elseif page.header.scale == 5 %}
        {% set resize = 4 / 3 %}
        {% set aspectratio = 3 / 4 %}
    {% elseif page.header.scale == 6 %}
        {% set resize = 1 / 5 %}
        {% set aspectratio = 5 / 1 %}
    {% else %}
        {% set resize = 0 %}
    {% endif %}    
    {% if page.header.section.settings.module.width == 1 %}
    {% set mult = 2 %}
    {% elseif page.header.section.settings.module.width == 4 %}
    {% set mult = 1.5 %}
    {% else %}
    {% set mult = 1 %}
    {% endif %}
    {# TODO: Resize bei page.header.scale #}


    {% if theme_var('style.compress') %}

     {% include 'partials/imagesizing.html.twig' with {
        'image': image, 
        'title' : page.header.section.title, 
        'alt': page.header.section.alt_tag, 
        'objectfit': page.header.objectfit, 
        'scale': page.header.scale , 
        'resize': resize,
        'classes': 'media',
        'mult': mult,
        'is_svg': is_svg } 
    %}
 
    {% else %}

    <img class="media {{selfid}}" title="{{ page.header.section.title }}" alt="{{ page.header.section.alt_tag }}" 
    src="{% if page.header.scale != 0 and not theme_var('style.noresize') and not is_svg %}{{ image.cropZoom(image.height * mult,image.height * resize * mult).url }}{% else %}{{ image.url }}{% endif %}" 
    style="
    {% if page.header.objectfit %}object-position:{{page.header.objectfit}};{% endif %} 
    {% if page.header.scale != 0 and not theme_var('style.noresize') and not is_svg %}object-fit:contain;{% endif %}
    " />

    {% endif %}

    </div>
    

    {% endif %}
    {% if page.header.section.image_description %}
    <div class="content_wrap cmn-content">
       <p> {{page.header.section.image_description}} </p>
    </div>
    {% endif %}
    </div>
</div>
{% if page.header.section.wrap.container == 1 %}
</div></div>
<div class="row container"><div class="row container-inner">  {# start row #}
{% endif %} 
{% endif %}

<style>
{% if page.header.section.settings.bgcolor %}
.img_module.{{selfid}}{
    background-color: {{page.header.section.settings.bgcolor}};
}
{% if theme_var('style.noresize') %}
.media.{{selfid}} {
 aspect-ratio: {{ resize != 0 and not is_svg ? aspectratio : 'auto' }};
 object-fit: cover;
}
@media (max-width: 768px) {
    .media.{{selfid}} {
        aspect-ratio: auto;
    }
}
@media (max-width: 468px) {
    .media.{{selfid}} {
        aspect-ratio: 0.75;
    }
}
{% endif %}
{% endif %}
  
</style>