{% if page.header.section.settings.module.enabled %}
    {# {% if page.header.section.background.image %} {% set img = (page.header.section.background.image | first).name %} {% endif %} #}
{% if page.header.section.wrap.container == 1 %}
</div></div>  {#  end row #}
<div class="row container">
<div class="row container-inner">
{% endif %}
{% set selfid = 'module-' ~ page.template|md5|slice(0, 8) ~ '-' ~ page.slug|md5|slice(0, 8)  %}
<div class="{% if page.header.section.settings.module.width == 1 %}col-12 col-md-12
            {% elseif page.header.section.settings.module.width == 2 %}col-12 col-md-6
            {% elseif page.header.section.settings.module.width == 3 %}col-12 col-md-4
            {% elseif page.header.section.settings.module.width == 4 %}col-12 col-md-8
            {% elseif page.header.section.settings.module.width == 5 %}col-6 col-md-3
            {% elseif page.header.section.settings.module.width == 6 %}col-4 col-md-2
            {% else %}col-12 col-md-6{% endif %} txt_module section_wrap {{page.header.section.settings.classes}}" 
     style="{% if page.header.section.settings.txt.align == 1 %}text-align: center;{% elseif page.header.section.settings.txt.align == 2 %}text-align: right;{% endif %}
            {% if page.header.section.settings.paddingouter %}padding:{{page.header.section.settings.paddingouter}};{% endif %}"
>

{% if page.header.section.settings.bgcolor %}<div class="bgcolorwrapper txttitle {{selfid}}" style="background-color:{{page.header.section.settings.bgcolor}};{% if page.header.section.settings.padding %}padding:{{page.header.section.settings.padding}};{% endif %}">{% endif %}

    {% if page.header.section.settings.title.show %}
    <div class="title_wrap cmn-content">


                    {% import 'macros/macros.html.twig' as utils %}
                {{ utils.render_headings(page, page.header.section.subtitle, null, null, null, 'txttitle ' ~ selfid) }}
    
    </div>
    {% endif %}
    {% if page.header.section.text %}
    <div class="content_wrap cmn-content txttitle {{selfid}}">
        {{page.header.section.text|markdown }}
    </div>
    {% elseif content %}
    {{ content|markdown }}
    {% endif %}
    {% if page.header.section.background.media %}
        {% set media = (page.header.section.background.media | first).name %}
        {% set mediaFilePath = page.media[media].url ?: page.parent.media[media].url %}
        {% set fileType = page.header.section.background.media[page.header.section.background.media|keys|first].type %}
        <div class="media-wrap txttitle {{selfid}}">
            {% if page.header.section.background.media %}
                {% if fileType starts with 'image/' %}
                    <a href="{{ url(mediaFilePath)}}" alt="{{ media }}"  class="txttitle {{selfid}}" download>download image</a>
                {% elseif fileType starts with 'application/' %}
                    <a href="{{ url(mediaFilePath)}}" alt="{{ media }}"  class="txttitle {{selfid}}" download>download pdf</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    <div class="button_wrap cmn-content">
    
    {% for button in page.header.section.buttons %}
        <a href="{{button.link}}" class="box-btn txttitle {{selfid}}" {% if button.open.type != 1 %}target="_blank"{% endif %}>
            {{button.text}}<i class="fal fa-angle-right"></i>
        </a>
        {% if not loop.last %}<br /><br />{% endif %}
    {% endfor %}
    </div>
    

{% if page.header.section.settings.bgcolor %}</div>{% endif %}

</div>
{% if page.header.section.wrap.container == 1 %}
</div></div>
<div class="row container"><div class="row container-inner"> {# start row #}
{% endif %}

{% if page.header.section.settings.txtcolor %}
<style>
.txttitle.{{selfid}}, .txttitle.{{selfid}} p{
    color: {{page.header.section.settings.txtcolor}} !important;
}
</style>
 {% endif %}   

{% endif %}
