{% set favicon = theme_var('site.favicon') %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">

<head>
    {% block head %}
    <meta charset="utf-8" />
    {% set meta_title = page.header.seo.title ?: (header.title == '%LOGO%' ? site.title : header.title) %}
    <title>{% if meta_title %}{{ meta_title|e }} | {% endif %}{{ site.title|e }}</title>
    {{ theme_var('header.javascript')|raw }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {# Add SEO meta tags #}
    {% if page.header.seo.description %}
    <meta name="description" content="{{ page.header.seo.description|e }}">
    {% endif %}
    {% if page.header.seo.noindex %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
    
    {% include 'partials/metadata.html.twig' %}


    {% if favicon %}
        <link rel="icon" type="image/png" href="{{ url('theme://custom/images/favicon/' ~ (favicon | first).name) }}" sizes="32x32"/>
        <link rel="apple-touch-icon" href="{{ url('theme://custom/images/favicon/' ~ (favicon | first).name) }}">
    {% else %}
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" sizes="32x32"/>
        <link rel="apple-touch-icon" href="{{ url('theme://images/favicon.png') }}">
    {% endif %}    
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />


    {% if theme_var('style.fonts.uploadselect') %}

    {# instead of individual files: Repeating field where you can type Name and select type (ttf, otf, woff, woff2) #}

    {% for font in theme_var('style.fonts.uploadfiles') %}
        {# loop through the repeating field #}

         {% set weight = 'normal' %}
         {% if font.weight != 400 %}
            {% set weight = font.weight %}
         {% endif %}
            {% for file in font.file %}
            <link rel="preload" as="font" href="/{{ file.path }}" type="font/{{ file.path|split('.')|last }}" crossorigin="anonymous"> 
            {% endfor %}
            <style>
           {% for file in font.file %}
                        @font-face {
                            font-family: "{{ font.name }}";
                            src: {% for file in font.file %}url("/{{ file.path }}") format("{% if file.path|split('.')|last == 'ttf' %}truetype{% else %}{{file.path|split('.')|last}}{% endif %}"){% if not loop.last %},{% endif %}{% endfor %};
                            font-weight: {{ weight }};
                            font-style: normal;
                            font-display: swap;
                        }
            {% endfor %}

            </style>
        
    {% endfor %}

             

    {% else %}
        {% if theme_var('style.fonts.import') %}
            {% if theme_var ('style.fonts.google') %}
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link
                rel="preload"
                as="style"
                href="{{ theme_var('style.fonts.import') }}"
                />
                <link
                rel="stylesheet"
                href="{{ theme_var('style.fonts.import') }}"
                media="print"
                onload="this.media='all'"
                />
                <noscript>
                <link
                    rel="stylesheet"
                    href="{{ theme_var('style.fonts.import') }}"
                />
                </noscript>
            {% else %}
                <link rel="preload" as="style" href="{{ theme_var('style.fonts.import') }}" onload="this.rel='stylesheet'" />
            {% endif %}
        {% endif %}
    {% endif %}

    {% if theme_var('style.fonts.customhtml') %}
        {{ theme_var('style.fonts.customhtml') }}   
    {% endif %}

    {% endblock head %}

    {% block stylesheets %}
    {#
    {% do assets.addCss('theme://css/fontawesome-5.5.0.min.css', 99) %}
    {% do assets.addCss('theme://css/simple-masonry.css') %}
    {% do assets.addCss('theme://css/swiper-bundle.min.css') %}
    {% do assets.addCss('theme://js/lightgallery/css/lightgallery.css') %}
    {% do assets.addCss('theme://css/main.css', 98) %}
    #}
    {% do assets.addCss('theme://build/all.min.css', 98) %}
    {% endblock %}

    {% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {#
    {% do assets.add('theme://js/simple-masonry.js') %}
    {% do assets.add('theme://js/swiper-bundle.min.js') %}
    {% do assets.add('theme://js/scopedQuerySelectorShim.min.js') %}
    {% do assets.add('theme://js/lightgallery/lightgallery.min.js') %}
    {% do assets.add('theme://js/lightgallery/plugins/lg-fullscreen.min.js') %}
    {% do assets.add('theme://js/lightgallery/plugins/lg-thumbnail.min.js') %}
    #}

    {% endblock %}

    {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
    {% endblock %}
    {% include 'partials/custom-css.html.twig' %}
    {% if theme_var('style.css') %}
        {% do assets.addCss('theme://custom/css/custom.css', 98) %}
    {% endif %}    


    {% if theme_var('nav.hamburger') %}
        <style>
            #mobile_bar {
                display: flex !important;
            }
        </style>
    {% endif %}


</head>

<body id="top" class="{{ page.header.body_classes|e }} {% if page.home %}home{% endif %} template-{{ page.template }} slug-{{ page.slug }}">
    {% if config.plugins.langswitcher.enabled %}
      {% include 'partials/langswitcher.html.twig' %}
    {% endif %}
    
    {% block header %}
    {% include 'partials/header.html.twig' %}
    {% endblock %}

    {% block body %}

    <main>
        {% block hero %}{% endblock %}
        <div class="row container"><div class="row container-inner">         
        {% block content %}{% endblock %}
        </div></div>
    </main>
    {% endblock %}
    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}
    {% if theme_var('map.apikey') and theme_var('map.type') == 'google' %}
        {%  include 'partials/map-google-js.html.twig' %}
    {% elseif theme_var('map.type') == 'osm' %}
        {%  include 'partials/map-osm-js.html.twig' %}
    {% endif %}    
    {% block bottom %}
        
        {{ assets.js('bottom')|raw }}
        {{ theme_var('footer.javascript.code')|raw }}
        <script src="{{ url('theme://build/all.min.js') }}"></script>
        {% if theme_var('style.js') %}
            {% do assets.addJs('theme://custom/js/custom.js', 98) %}
        {% endif %}   

         {% do assets.addCss('theme://fonts/fontawesome-5.5.0.min.css') %}
    {% endblock %}

</body>

</html>