<div class="{{card_col}} ">
    <div class="_card">
        {% if show_img %}
            {% set image = page.media.images|first %}
            {% if image %}
            <div class="card_image">
                {% set is_svg = image.url|lower ends with '.svg' %}
                <a href="{{ page.url }}">
                    {% if is_svg %}
                        {{ image.html|raw }}
                    {% else %}
                        {{ image.cropZoom(800,500).html|raw }}
                    {% endif %}
                </a>
            </div>
            {% endif %}
        {% endif %}    
        <div class="card_header">
            {% if show_date %}
            <div class="card-subtitle text-gray">
                {% include 'partials/blog/date.html.twig' %}
            </div>
            {% endif %}
            <div class="card_title">
            {% include 'partials/blog/title.html.twig' with {title_level: 'h5'} %}
            </div>
        </div>
        <div class="card_body">
            {% if page.summary != page.content %}
                {{ page.summary|strip_tags_truncate(150)|raw }}
            {% else %}
                {{ page.content|strip_tags_truncate(150)|raw }} 
            {% endif %}
        </div>
        <div class="card_link">
            <a href="{{ page.url }}" class="cmn-link" {% if card_opentype %}target="_blank"{% endif %}>
                {{moreinfo}}<i class="far fa-long-arrow-right"></i>
            </a>    
        </div>
        {% if show_tax %}
        <div class="card-footer">
            {% include 'partials/blog/taxonomy.html.twig' %}
        </div>
        {% endif %}
    </div>
</div>