
{% set logo_desktop = theme_var('header.logo.desktop') %}
{% set logo_mobile = theme_var('header.logo.mobile') %}

<div class="mobile_menu" id="mobile_menu">
    <div class="close-div">
    {% if theme_var ('nav.mobilelogoenabled') %}
        {% if logo_desktop %}
            {% set logo_file = (logo_desktop|first).name %}
            <img id="minilogo" src="{{ url('theme://custom/images/logo/' ~ logo_file)  }}"  alt="{{ site.name }}" />
        {% endif %}     
    {% endif %}
    {{ theme_var('nav.customcode') ? theme_var('nav.customcode')|raw }}
        
        <button id="close_menu">{{ theme_var('header.closemenucaption') ? theme_var('header.closemenucaption') : 'schliessen' }}&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="22.825" height="22.825"
                viewBox="0 0 22.825 22.825">
                <path id="xmark-regular"
                    d="M22.273,98.877a1.709,1.709,0,0,0-2.417-2.417l-8.486,8.486L2.877,96.453A1.709,1.709,0,0,0,.46,98.87l8.486,8.486L.453,115.848a1.709,1.709,0,1,0,2.417,2.417l8.486-8.486,8.493,8.493a1.709,1.709,0,1,0,2.417-2.417L13.78,107.37Z"
                    transform="translate(0.05 -95.95)" fill="{{ theme_var('nav.xcolor') ? theme_var('nav.xcolor') : theme_var('nav.hamburgercolor') }}" />
            </svg>
        </button>
    </div>

    <div class="mobile_menu-inner">
        {% include 'partials/navigation_mobile.html.twig' %}
        <div class="m_menu_footer">
                {% include 'partials/footercolumns.html.twig' with {'mobilefooter': true} %}
                {% if theme_var('footer.showinnav.enabled') %}
                <div class="bottomfooter">
                        {% include 'partials/footerbottomcolumns.html.twig' %}
                </div>
                {% endif %}
        </div>
    </div>
</div>
<header class="header-area  {{ theme_var('header.fixed.option') ? 'fixed' : '' }} {% if theme_var('nav.fittocontent') == '1' %}fittowidth{% endif %}">
    <div class="container-fluid cs-padding header-inner">
        <div class="row align-items-center">
            <div class="col-12 flex-header">
                <div class="header-left d-flex align-items-center">
                    <a href="{{ base_url_absolute }}" class="logo d-inline-block">
                        {% if theme_var('header.displaylogo') == 1 %}
                            {% if logo_desktop %}
                                {% set logo_file = (logo_desktop|first).name %}
                                <img id="headerlogo" src="{{ url('theme://custom/images/logo/' ~ logo_file)  }}"  class="img-fluid d-none d-lg-block" alt="{{ site.name }}" />
                            {% endif %}                         
                        {% endif %}                     
                            {% if logo_mobile %}
                                {% set logo_file = (logo_mobile|first).name %}
                                <img id="headerlogomobile" src="{{ url('theme://custom/images/logo/' ~ logo_file)  }}"  class="img-fluid d-lg-none d-xl-none" alt="{{ site.name }}" />
                            {% endif %}  
                    </a>
                    {% include 'partials/navigation.html.twig' %}
                </div>
                <div class="header-right">
                    {% if theme_var('nav.button.enabled') %}    
                    <a href="{{ theme_var('nav.button.url') ? theme_var('nav.button.url') : base_url ~ theme_var('nav.button.link') }}" class="custom-btn" {{ theme_var('nav.button.url') ? 'target="_blank"' }}>{{ theme_var('nav.button.text') }}<i class="far fa-angle-right"></i></a>
                    {% endif %}
                    <button id="mobile_bar" class="mobile-menu d-lg-none d-xl-none  bg-transparent border-0 p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="21" viewBox="0 0 30 21">
                            <g id="Group_1" data-name="Group 1" transform="translate(0 0.718)">
                                <line id="Line_1" data-name="Line 1" x2="30" transform="translate(0 0.282)" fill="none"
                                    stroke="{{ theme_var('nav.hamburgercolor') ? theme_var('nav.hamburgercolor') : '#7b9b50' }}" stroke-width="2" />
                                <line id="Line_2" data-name="Line 2" x2="30" transform="translate(0 9.282)" fill="none"
                                    stroke="{{ theme_var('nav.hamburgercolor') ? theme_var('nav.hamburgercolor') : '#7b9b50' }}" stroke-width="2" />
                                <line id="Line_3" data-name="Line 3" x2="22.657" transform="translate(0 19.282)"
                                    fill="none" stroke="{{ theme_var('nav.hamburgercolor') ? theme_var('nav.hamburgercolor') : '#7b9b50' }}" stroke-width="2" />
                            </g>
                        </svg>

                    </button>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="graybar"></div>