{% macro loop(page) %}
{% set i = 0 %}
{% for p in page.children.visible %}

    {% if i < theme_var('nav.linksbeforehamburger') or theme_var('nav.hamburger') == false %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
        {% if p.children.visible.count > 0 %}
        <li class="has-children {{ current_page|e }}">
            <a href="{{ p.url|e }}">

                {{ p.menu|e }}  
                {% if p.header.icons %}<i class="fal fa-{{ p.header.icons.angle_down|e }}"></i>{% endif %}
            </a>
            <ul class="submenu">
                {# {{ _self.loop(p) }} #}
                    {% for item in p.children.visible %}
                    <li>
                        <a href="{{ item.url }}">
                            {{ item.menu }}
                        </a>
                    </li>
                    {% endfor %}
            </ul>
        </li>
        {% else %}
        <li class="{{ current_page|e }}">
            <a href="{{ p.url|e }}">
                {{ p.menu|e }}
            </a>
        </li>
        {% endif %}
    {% endif %}
    {% set i = i + 1 %}
{% endfor %}
{% endmacro %}



<ul class="main-menu d-none d-lg-flex align-items-center flex-wrap">
    {% if config.theme.dropdown.enabled %}
        {{ _self.loop(pages) }}
    {% else %}

        {% set i = 0 %}
        {% for page in pages.children.visible %}
        {% if i < theme_var('nav.linksbeforehamburger') or theme_var('nav.hamburger') == false %}
            {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <li class="{{ current_page }}">
                <a href="{{ page.url|e }}">
                    {% if page.header.icons %}
                        <i class="fal fa-{{ page.header.icons.arrow_down|e }}"></i>
                    {% endif %}
                    
                    {% if page.menu == '%LOGO%' %}
                        {{ ('<img src="' ~ url('theme://custom/images/logo/' ~ (logo_desktop|first).name) ~
                            '" class="imgcenterlogo img-fluid d-none d-lg-block" alt="' ~ site.name ~ '" />')|raw }}
                    {% else %}
                        {{ page.menu|e }}
                    {% endif %}
                </a>
            </li>
        {% endif %}


            {% set i = i + 1 %}
        {% endfor %}


    {% endif %}
    {% for mitem in site.menu %}
    <li>
        <a href="{{ mitem.url|e }}">
            {% if mitem.icon %}<i class="fal fa-{{ mitem.icon|e }}"></i>{% endif %}
            {{ mitem.text|e }}
        </a>
    </li>
    {% endfor %}
</ul>