{% extends 'partials/base.html.twig' %}
{% set portfolio = page.find(header_var('portfolio_url')|defined(theme_var('portfolio-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, portfolio])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, portfolio])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, portfolio])|defined(true) %}
{% set show_gallery = header_var('show_gallery', [page, portfolio])|defined(false) %}
{% set hero_image_name = page.header.hero_image %}

{% block hero %}
    {% if hero_image_name %}
        {% set hero_image = page.media[hero_image_name] %}
        {% set is_svg_hero = hero_image.url|lower ends with '.svg' %}
        {% set content %}
            <h1>{{ page.title }}</h1>
            <h2>{{ page.header.subtitle }}</h2>
            {% include 'partials/portfolio/date.html.twig' %}
            {% include 'partials/portfolio/taxonomy.html.twig' %}
        {% endset %}
        {% include 'partials/hero.html.twig' with {id: 'portfolio-hero', is_svg: is_svg_hero} %}

    {% endif %}
{% endblock %}

{% block content %}
<section id="body-wrapper" class="section portfolio-listing">
    <section class="container {{ grid_size }}">
        {# {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %} #}

        {% embed 'partials/layout.html.twig' %}
            {% block item %}
                {% include 'partials/portfolio-item.html.twig' %}
            {% endblock %}
            {# {% block sidebar %}
                {% include 'partials/sidebar.html.twig' %}
            {% endblock %} #}
        {% endembed %}


    {% if show_gallery %}
        <div id="lightgallery" class="gallery_wrap cmn-content gallery_portfolio">
            {# Convert the string into an array #}
            {% set order = page.header.media_order|split(',') %}

            {# Initialize an empty array for sorted media #}
            {% set sorted_media = [] %}

            {# Populate sorted_media in the order specified by the order array, but only include images #}
            {% for filename in order %}
                {% if page.media[filename] and page.media[filename].type == 'image' %}
                    {% set sorted_media = sorted_media|merge([page.media[filename]]) %}
                {% endif %}
            {% endfor %}

            {# Display sorted images #}
            {% for elem in sorted_media %}
                {% set is_svg = elem.url|lower ends with '.svg' %}
                <a href="{{ elem.url }}" class="element">
                    <img class="lightgallerymedia" src="{% if is_svg %}{{ elem.url }}{% else %}{{ elem.cropZoom(400,400).url }}{% endif %}">
                </a>
            {% endfor %}
        </div>


        <script>
        document.addEventListener('DOMContentLoaded', function() {
            lightGallery(document.getElementById('lightgallery'), {
                selector: '.element',
                download: true, 
                enableSwipe: true,
                escKey: true,
                // center images
                mode: 'lg-fade',
            });
        });
        </script>


    {% endif %}

    </section>
</section>
{% endblock %}