
{% if page.header.section.settings.module.enabled %}
</div></div>
{% set selfid = 'module-' ~ page.template|md5|slice(0, 8) ~ '-' ~ page.slug|md5|slice(0, 8)  %}
<div class="cta-area {{selfid}}">
    <div class="container"><div class="container-inner">
        <div class="row">
            <div class="{% if page.header.section.settings.module.width == 1 %}col-12 col-md-12{% elseif page.header.section.settings.module.width == 2 %}col-lg-9{% else %}col-lg-6{% endif %}">
                <div class="cmn-content st-content ctap {{selfid}}{{page.header.section.settings.bgcontain ? ' bgcontain'}}" {{ page.header.section.settings.module.width ? 'style="max-width:none;"' }}>
                    {% if page.header.section.settings.title.show %}   
                       {% import 'macros/macros.html.twig' as utils %}
                        {{ utils.render_headings(page, null) }}
                    {% endif %}
                    {% if page.header.section.content.left.text %}
                    {{page.header.section.content.left.text|markdown }}
                    {% endif %}
                    <a href="{{ page.header.section.content.left.pdfenabled ? page.media[page.header.section.content.left.pdfselect].url : page.header.section.content.left.link}}" class="box-btn type-2" {% if page.header.section.content.left.linkopen.type %}target="_blank"{% endif %}>
                        {{page.header.section.content.left.anchor}}<i class="far fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="offer-g-wrapper">
                    {% for card in page.header.section.content.right.cards %}
                    {% set img = false %}
                    {% if card.image is not empty %}
                        {% set img = (card.image | first).name %}
                    {% endif %}
                    <div class="single-offer ctap">
                        <div class="offer-icon">
                            {% if img != false %}
                                {# Check if image exists in page media (new @self method) #}
                                {% if page.media[img] is defined %}
                                    <img src="{{ page.media[img].url }}" alt="{{card.alt}}" class="img-fluid">
                                {# Fallback to old theme path for backward compatibility #}
                                {% else %}
                                    <img src="{{ url('theme://custom/images/' ~ img) }}" alt="{{card.alt}}" class="img-fluid">
                                {% endif %}
                            {% endif %}
                        </div>
                        <h5>{{card.heading}}</h5>
                        <p>{{card.text}}</p>
                        {% if card.pdfenabled %}
                        {% set link = page.media[card.pdfselect].url %}
                        {% else %}
                        {% set link = card.link %}
                        {% endif %}
                        <a href="{{link}}" class="cmn-link" {% if card.open.type %}target="_blank"{% endif %}>
                            {{card.anchor}}<i class="far fa-long-arrow-right"></i>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div></div>
</div>
<div class="container"><div class="container-inner">
{% endif %}

<style>
{% if page.header.section.settings.bgcolor %}
    
    {% if page.header.section.settings.bgcontain %}
        .cta-area.{{selfid}} .cmn-content{
            background-color: {{page.header.section.settings.bgcolor}};
        }
    {% else %}
        .cta-area.{{selfid}}{
            background-color: {{page.header.section.settings.bgcolor}};
        }
    {% endif %}
{% endif %}

{% if page.header.section.settings.txtcolor %}
.cmn-content.ctap.{{selfid}} p, .single-offer.ctap.{{selfid}} p,
.cmn-content.ctap.{{selfid}} h1, .single-offer.ctap.{{selfid}} h1,
.cmn-content.ctap.{{selfid}} h2, .single-offer.ctap.{{selfid}} h2,
.cmn-content.ctap.{{selfid}} h3, .single-offer.ctap.{{selfid}} h3,
.cmn-content.ctap.{{selfid}} h4, .single-offer.ctap.{{selfid}} h4,
.cmn-content.ctap.{{selfid}} h5, .single-offer.ctap.{{selfid}} h5,
.cmn-content.ctap.{{selfid}} h6, .single-offer.ctap.{{selfid}} h6,
.cmn-content.ctap.{{selfid}} a, .single-offer.ctap.{{selfid}} a
 {
    color: {{page.header.section.settings.txtcolor}};
}
{% endif %}

{% if page.header.section.settings.padding %}
.cta-area.{{selfid}} {
    padding: {{page.header.section.settings.padding}};
}
{% endif %}
</style>
