{% if page.header.section.settings.module.enabled %}
{% if page.header.section.wrap.container == 1 %}
</div></div>  {#  end row #}
<div class="row container slider_module"><div class="row container-inner">
{% endif %}  


{% set cleanSlug = page.slug
    |replace({'.': '', '-': '', '_': '', '~': '', '!': '', '@': '', '#': '', '$': '', '%': '', '^': '', '&': '', '*': '', '(': '', ')': '', '=': '', '+': '', '[': '', ']': '', '{': '', '}': '', '\\': '', '|': '', ';': '', ':': '', '\'': '', '"': '', ',': '', '<': '', '>': '', '/': '', '?': ''})
%}


<div class="{% if page.header.section.settings.module.width == 1 %}col-12 col-md-12
            {% elseif page.header.section.settings.module.width == 2 %}col-12 col-md-6
            {% elseif page.header.section.settings.module.width == 3 %}col-12 col-md-4
            {% elseif page.header.section.settings.module.width == 4 %}col-12 col-md-8
            {% elseif page.header.section.settings.module.width == 5 %}col-6 col-md-3
            {% elseif page.header.section.settings.module.width == 6 %}col-4 col-md-2
            {% else %}col-12 col-md-6{% endif %} 
             section_wrap swipercontainer"
    style="{% if page.header.section.settings.bgcolor %} background-color: {{page.header.section.settings.bgcolor}};{% endif %}" >   
    <div class="container">
    {% if page.header.section.settings.title.show %}
    <div class="title_wrap cmn-content">


                {% import 'macros/macros.html.twig' as utils %}
                {{ utils.render_headings(page, page.header.section.subtitle) }}
           

    </div>
    {% endif %}

    {% if page.header.section.image %}
    <div class="img_wrap cmn-content">
    {# 
        {% set img = (page.header.section.image | first).name %}
        <img  src="{{ url('theme://custom/images/' ~ img)  }}" alt="{{page.header.section.alt_tag}}" class="img-fluid"> 
    #}



<!-- Swiper -->
    <div class="swiper {{cleanSlug}}">
    <div class="swiper-wrapper">
        {% for image in page.media %}
        <div class="swiper-slide">

        {#
                        {% if theme_var('style.compress') %}
                                 
                                              
                          {% include 'partials/imagesizing.html.twig' with {
                              'image': image, 
                              'title' : 'Slideshow Image', 
                              'alt': 'Slideshow Image', 
                              'objectfit': 'center center',
                              'scale': 0, 
                              'resize': 0,
                              'classes': 'media' } 
                          %}
                      
                            
                        {% else %}
                        #}
                               <img src="{{ image.url }}">
                        {# endif #}
        </div>
        {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    </div>



    </div>
    

    {% endif %}
    {% if page.header.section.image_description %}
    <div class="content_wrap cmn-content">
       <p> {{page.header.section.image_description}} </p>
    </div>
    {% endif %}
    </div>
</div>
{% if page.header.section.wrap.container == 1 %}
</div></div>
<div class="row container"><div class="row container-inner">  {# start row #}
{% endif %} 
{% endif %}

<style>
{% if page.header.section.settings.bgcolor %}
.img_module{
    background-color: {{page.header.section.settings.bgcolor}};
}
{% endif %}


.swiper.{{cleanSlug}} {
  width: 100%;
  max-height: {{page.header.maxheight}};
  overflow: hidden;
}

.swiper.{{cleanSlug}} .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* You might want to ensure the images within the slides are also constrained */
  img {
    width: 100%;
    height:100%;
    object-fit: cover; /* This makes sure the image covers the slide but maintains its aspect ratio */
    object-position: {{page.header.objectfit}}; /* This centers the image within the slide */
  }
}

.swiper.{{cleanSlug}} .swiper-button-next, .swiper.{{cleanSlug}} .swiper-button-prev {
    color: {{page.header.section.settings.slidercolor}};
}
.swiper.{{cleanSlug}} .swiper-pagination-bullet-active {
    background-color: {{page.header.section.settings.slidercolor}};
}
  
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {

  var mySwiper{{cleanSlug}} = new Swiper('.swiper.{{cleanSlug}}', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If you want to include pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 5000, // Delay in milliseconds between slides, adjust to your liking
      disableOnInteraction: false, // Set to false to keep autoplay after user interactions
    },
    // And if you need scrollbar
  });
});
</script>